<!DOCTYPE html>
<html data-ng-app="genColors" xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="description" content="Dearth Funk, music and web applications.">
    <meta name="keywords" content="Dearth, Funk, DearthFunk, Djangular, D'Jangular, Colonies, Hexsynth, Hex Synth, Hex,Ideas, IdeaBoard">
    <meta name="author" content="Dearth Funk aka. Tylor Spence">


    <title>Gen Colors!</title>
<!--
     _____          ___           ___           ___                       ___                    ___         ___           ___           ___
    /  /::\        /  /\         /  /\         /  /\          ___        /__/\                  /  /\       /__/\         /__/\         /__/|
   /  /:/\:\      /  /:/_       /  /::\       /  /::\        /  /\       \  \:\                /  /:/_      \  \:\        \  \:\       |  |:|
  /  /:/  \:\    /  /:/ /\     /  /:/\:\     /  /:/\:\      /  /:/        \__\:\              /  /:/ /\      \  \:\        \  \:\      |  |:|
 /__/:/ \__\:|  /  /:/ /:/_   /  /:/~/::\   /  /:/~/:/     /  /:/     ___ /  /::\            /  /:/ /:/  ___  \  \:\   _____\__\:\   __|  |:|
 \  \:\ /  /:/ /__/:/ /:/ /\ /__/:/ /:/\:\ /__/:/ /:/___  /  /::\    /__/\  /:/\:\          /__/:/ /:/  /__/\  \__\:\ /__/::::::::\ /__/\_|:|____
  \  \:\  /:/  \  \:\/:/ /:/ \  \:\/:/__\/ \  \:\/:::::/ /__/:/\:\   \  \:\/:/__\/          \  \:\/:/   \  \:\ /  /:/ \  \:\~~\~~\/ \  \:\/:::::/
   \  \:\/:/    \  \::/ /:/   \  \::/       \  \::/~~~~  \__\/  \:\   \  \::/                \  \::/     \  \:\  /:/   \  \:\  ~~~   \  \::/~~~~
    \  \::/      \  \:\/:/     \  \:\        \  \:\           \  \:\   \  \:\                 \  \:\      \  \:\/:/     \  \:\        \  \:\
     \__\/        \  \::/       \  \:\        \  \:\           \__\/    \  \:\                 \  \:\      \  \::/       \  \:\        \  \:\
                   \__\/         \__\/         \__\/                     \__\/                  \__\/       \__\/         \__\/         \__\/  -->

    <!--LIBRARIES------------------------------------------------------------------------------------------------------>
        <script type="text/javascript" src="lib/angular.js"></script>
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
        <script type="text/javascript" src="lib/zeroClipboard/ZeroClipboard.js"></script>

    <!--MAIN----------------------------------------------------------------------------------------------------------->
        <script type="text/javascript" src="js/clrService.js"></script>
        <script type="text/javascript" src="js/eventService.js"></script>
        <script type="text/javascript" src="app/app.controller.js"></script>

    <!--EDITOR--------------------------------------------------------------------------------------------------------->
        <script type="text/javascript" src="editor/editor.directive.js"></script>
        <script type="text/javascript" src="editor/random/random.directive.js"></script>
        <script type="text/javascript" src="editor/convert/convert.directive.js"></script>
        <script type="text/javascript" src="editor/between/between.directive.js"></script>
        <script type="text/javascript" src="editor/array/array.directive.js"></script>

	<!-- STYLES -->
		<link rel="stylesheet/less" href="app/app.less">
		<script type="text/javascript" src="lib/less.js"></script>

</head>

<body data-ng-controller="genColorsController" data-ng-style="{backgroundColor: getBackground()}">
    <div editor></div>
    <div class="arrayBackground" data-ng-if="arrayBackground">
        <div class="slice" data-ng-repeat="item in background.color track by $index" data-ng-style="{backgroundColor:item, width:sliceWidth+'px'}"></div>
    </div>
</body>
</html>
