<!DOCTYPE html>
<html data-ng-app="genColors" xmlns="http://www.w3.org/1999/html">

<head>
	<title>Gen Colors!</title>

	<!--LIBRARIES------------------------------------------------------------------------------------------------------>
        <script type="text/javascript" src="lib/angular.js"></script>
        <script type="text/javascript" src="lib/zeroClipboard/ZeroClipboard.js"></script>

    <!--MAIN----------------------------------------------------------------------------------------------------------->
        <script type="text/javascript" src="js/genColors.service.js"></script>
        <script type="text/javascript" src="app/app.controller.js"></script>

    <!--EDITOR--------------------------------------------------------------------------------------------------------->
        <script type="text/javascript" src="editor/editor.directive.js"></script>
		<script type="text/javascript" src="editor/htmlDirective/html.directive.js"></script>
        <script type="text/javascript" src="editor/random/random.directive.js"></script>
        <script type="text/javascript" src="editor/randomBetween/randomBetween.directive.js"></script>
        <script type="text/javascript" src="editor/convert/convert.directive.js"></script>
        <script type="text/javascript" src="editor/between/between.directive.js"></script>
        <script type="text/javascript" src="editor/array/array.directive.js"></script>

	<!-- STYLES -->
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet/less" href="app/app.less">
		<script type="text/javascript" src="lib/less.js"></script>

</head>
<body data-ng-controller="genColorsController" data-ng-style="{backgroundColor: getBackground()}">
    <div editor></div>
    <div class="arrayBackground" data-ng-if="arrayBackground">
        <div class="slice" data-ng-repeat="item in background.color track by $index" data-ng-style="{backgroundColor:item, width:sliceWidth+'px'}"></div>
    </div>
</body>
</html>
