<div class="editorContainer" data-ng-style="{left: left+'px', top:top+'px'}" data-ng-class="{border:minimized}">
    <div class="header" data-ng-mousedown="moveModule($event)" data-ng-class="{border:minimized}">
        DEMO <i class="fa {{minimized ? 'fa-arrow-up' : 'fa-arrow-down'}}" data-ng-click="toggleMinimize($event)"></i>
    </div>

    <div class="topContainer">
        <div id="copyButton" class="copyButton" data-clipboard-text="{{background.color}}">
            <div class="copyText">COPY</div>
            {{background.color}}
        </div>
    </div>

    <div class="editorBody" data-ng-show="minimized">
        <div class="section" data-ng-repeat="item in data track by $index">
            <div class="title" data-ng-class="{active:$index==activeControls}" data-ng-click="selectControls($index)">{{item.name}}</div>
            <div data-ng-if="activeControls == $index && $index == 0" class="content randomDemo"></div>
            <div data-ng-if="activeControls == $index && $index == 1" class="content convertDemo"></div>
            <div data-ng-if="activeControls == $index && $index == 2" class="content betweenDemo" data-background="background" data-data="item.data"></div>
            <div data-ng-if="activeControls == $index && $index == 3" class="content arrayDemo"   data-background="background" data-data="item.data"></div>
        </div>
    </div>

</div>